@page
@model RazorComponent.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Component in my Razor Web Site</title>
</head>
<body>
    <h3>Razor Component in my Razor Web Site</h3>

</body>
</html>
