@page
@model RazorLib.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <div>HELLO CODEURS EN SEINE !! (love you)</div>
</body>
</html>
